.login {
  &__input-box {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__button {
    width: 200px;
  }
  &__button-box {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
    width: 500px;
    align-items: center;
  }

}