.owner__link {
  height: 56px;
  padding: 10px 0;
}

.chat {
  &__list {
    margin-top: 10px;
    height: 371px;
    overflow: auto;
    margin-bottom: 10px;
  }
  &__link {
    height: 56px;
    padding: 10px 0;
    span {
      text-align: center;
    }
  }
}

